.body{
    border: 2px solid black;
    width: 100%;
    height: 900px;
    background: url(https://t3.ftcdn.net/jpg/06/72/45/24/360_F_672452471_4kHMWT93ipMIvpg862kRS3FlwvMKg8nS.jpg);
    background-size: cover;
}

.formbody{

    /* border: 2px solid green; */
    width: 70%;
    height: 700px;
    margin: auto;
    padding-top: 30px;
    /* padding-bottom: 40px; */
}
#fields{
    /* border: 2px solid black; */
    color: ;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    line-height: 2.9;
}

#textfield{
    
    width: 40%;
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 22px;
    :hover {
        border-color: #ccc;
    }
    :focus{
        border-color: #9147ff;
        background: #fff;
    }
    
}
#textarea{
    /* border: 2px solid black; */
    padding-left: 30px;
    width: 410px;
    height: 200px;
margin-bottom: 20px;}

#label{

    /* border: 2px solid red; */
    width: 40%;
}

#submit{

    margin-top: 10px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #15883e;
    height: 48px;
    :hover{
        background-color: #1db954;
    }

}